#sub-2016-09-zq {
	color: white;
	background-color: #040d1e;
	}

	#sub-2016-09-zq em {
		color: #ffeeb0;
	}

	#sub-2016-09-zq .image-backup-text {
		position: absolute;
		z-index: -1;
		width: 1px;
		height: 1px;
		overflow: hidden;
		text-indent: 1000px;
		}

	#sub-2016-09-zq .symbol {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		}
		#sub-2016-09-zq .symbol .symbol-look {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-repeat: no-repeat;
		}

	#sub-2016-09-zq .f-list {
		}
		#sub-2016-09-zq .f-list > li {
			list-style: none;
		}

		#sub-2016-09-zq .f-list.columns > li {
			display: inline-block;
			padding: 0;
			margin: 0;
			}
			#sub-2016-09-zq .f-list.columns.columns-count-2 > li {
				width: 50%;
				text-align: center;
			}



#sub-2016-09-zq #splash-block {
	height: 666px;
	}

	#sub-2016-09-zq .splash-illustrate {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 100%;
	}
	#sub-2016-09-zq .splash-illustrate .illustrate {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 100%;
		}
		#sub-2016-09-zq .splash-illustrate .illustrate.bg {
			background-image: url(../../images/pages/subject-2016-09-zhongqiu/splash-bg.jpg);
		}
		#sub-2016-09-zq .splash-illustrate .illustrate.slogan {
			background-image: url(../../images/pages/subject-2016-09-zhongqiu/splash-slogan.png);
		}
		#sub-2016-09-zq .splash-illustrate .illustrate.cover {
			background-image: url(../../images/pages/subject-2016-09-zhongqiu/splash-cover.png);
		}

	#sub-2016-09-zq #splash-block > .width-wrap {
		height: 100%;
	}

	#sub-2016-09-zq #splash-block .lanterns {
	}
	#sub-2016-09-zq #splash-block .lanterns .lantern {
		display: block;
		list-style: none;
		position: absolute;
		overflow: visible;
		width: 2px;
		height: 2px;
		background-color: red;
		}

		#sub-2016-09-zq #splash-block .lanterns .lantern-1 {
			left: 278px;
			top: 428px;
		}

		#sub-2016-09-zq #splash-block .lanterns .lantern-2 {
			left: 610px;
			top: 470px;
		}

		#sub-2016-09-zq #splash-block .lanterns .lantern-3 {
			left: 935px;
			top: 472px;
		}

		#sub-2016-09-zq #splash-block .lanterns .symbol {
			width: 150px;
			height: 230px;
			position: absolute;
			left: -75px;
			top: -20px;
			}

			#sub-2016-09-zq #splash-block .lanterns .symbol .symbol-look {
				background-image: url(../../images/pages/subject-2016-09-zhongqiu/lanterns.png);
			}

			#sub-2016-09-zq #splash-block .lanterns .symbol .symbol-look.drak {
				z-index: 1;
			}
			#sub-2016-09-zq #splash-block .lanterns .symbol .symbol-look.lit {
				z-index: 2;
				-webkit-animation: lit-lantern-flickering infinite;
				        animation: lit-lantern-flickering infinite;
				    -ms-animation: lit-lantern-flickering infinite;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-1 .symbol .symbol-look.lit {
				-webkit-animation-delay: 0s;
				        animation-delay: 0s;
				    -ms-animation-delay: 0s;

				-webkit-animation-duration: 5.1s;
				        animation-duration: 5.1s;
				    -ms-animation-duration: 5.1s;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-2 .symbol .symbol-look.lit {
				-webkit-animation-delay: -0.28s;
				        animation-delay: -0.28s;
				    -ms-animation-delay: -0.28s;

				-webkit-animation-duration: 8.1s;
				        animation-duration: 8.1s;
				    -ms-animation-duration: 8.1s;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-3 .symbol .symbol-look.lit {
				-webkit-animation-delay: -0.66s;
				        animation-delay: -0.66s;
				    -ms-animation-delay: -0.66s;

				-webkit-animation-duration: 8.7s;
				        animation-duration: 8.7s;
				    -ms-animation-duration: 8.7s;
			}

			@-webkit-keyframes lit-lantern-flickering {
				 0% { opacity: 0.66; }
				12% { opacity: 0.93; }
				19% { opacity: 1.00; }
				36% { opacity: 1.00; }
				50% { opacity: 0.45; }
				75% { opacity: 0.96; }
				88% { opacity: 1.00; }
				96% { opacity: 0.80; }
				to  { opacity: 0.66; }
			}

			@keyframes lit-lantern-flickering {
				 0% { opacity: 0.66; }
				12% { opacity: 0.93; }
				19% { opacity: 1.00; }
				36% { opacity: 1.00; }
				50% { opacity: 0.45; }
				75% { opacity: 0.96; }
				88% { opacity: 1.00; }
				96% { opacity: 0.80; }
				to  { opacity: 0.66; }
			}

			@-ms-keyframes lit-lantern-flickering {
				 0% { opacity: 0.66; }
				12% { opacity: 0.93; }
				19% { opacity: 1.00; }
				36% { opacity: 1.00; }
				50% { opacity: 0.45; }
				75% { opacity: 0.96; }
				88% { opacity: 1.00; }
				96% { opacity: 0.80; }
				to  { opacity: 0.66; }
			}

			#sub-2016-09-zq #splash-block .lanterns .lantern .symbol .symbol-look.drak {
				display: block;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern .symbol .symbol-look.lit {
				display: none;
			}

			#sub-2016-09-zq #splash-block .lanterns .lantern.lit .symbol .symbol-look.drak {
				display: block;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern.lit .symbol .symbol-look.lit {
				display: block;
			}

			#sub-2016-09-zq #splash-block .lanterns .lantern-1 .symbol .symbol-look.drak {
				background-position:    0px   0px;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-1 .symbol .symbol-look.lit {
				background-position: -150px   0px;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-2 .symbol .symbol-look.drak {
				background-position:    0px   0px;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-2 .symbol .symbol-look.lit {
				background-position: -150px   0px;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-3 .symbol .symbol-look.drak {
				background-position:    0px   0px;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-3 .symbol .symbol-look.lit {
				background-position: -150px   0px;
			}


	#sub-2016-09-zq #splash-block .floating-panel {
		display: block;
		box-sizing: border-box;
		width: 345px;
		height: 270px;
		position: absolute;
		right: 10px;
		top: 54px;
		background-color: rgba(255, 255, 255, 0.8);
        -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ccffffff, endColorStr=#ccffffff)";
            filter:  progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ccffffff, endColorStr=#ccffffff);
	}



#sub-2016-09-zq .section {
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	}
	#sub-2016-09-zq .section#zhongqiu-section-1 {
		height: 1025px;
		background-image: url(../../images/pages/subject-2016-09-zhongqiu/page-bg-01.jpg);
	}
	#sub-2016-09-zq .section#zhongqiu-section-2 {
		height: 865px;
		background-image: url(../../images/pages/subject-2016-09-zhongqiu/page-bg-02.jpg);
	}
	#sub-2016-09-zq .section#zhongqiu-section-3 {
		height: 797px;
		background-image: url(../../images/pages/subject-2016-09-zhongqiu/page-bg-03.jpg);
	}


	#sub-2016-09-zq .section .row.section-title,
	#sub-2016-09-zq .section .row.section-body {
		width: 1066px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		padding: 0;
	}

	#sub-2016-09-zq .section h2,
	#sub-2016-09-zq .section h1 {
		text-align: center;
	}
	#sub-2016-09-zq .section h4,
	#sub-2016-09-zq .section h3 {
		color: inherit;
		text-align: left;
		line-height: 1;
	}

	#sub-2016-09-zq .section .row.section-title {
		height: 109px;
		margin-bottom: 4px;
	}

	#sub-2016-09-zq .section .row.section-body > .content {
		position: relative;
		}
		#sub-2016-09-zq .section#zhongqiu-section-1 .row.section-body > .content {
			margin: 41px 74px 40px;
		}
		#sub-2016-09-zq .section#zhongqiu-section-2 .row.section-body > .content {
			margin: 63px 37px 65px 40px;
		}
		#sub-2016-09-zq .section#zhongqiu-section-3 .row.section-body > .content {
			margin: 62px 38px 58px 39px;
		}
	#sub-2016-09-zq .section .row.section-body > .content .section-sub-title {
		position: relative;
		height: 67px;
		line-height: 67px;
		margin-top: 0;
		margin-bottom: 0;
		}

		#sub-2016-09-zq .section#zhongqiu-section-1 .row.section-body > .content .section-sub-title {
			height: 61px;
			line-height: 61px;
		}
		#sub-2016-09-zq .section#zhongqiu-section-2 .row.section-body > .content .section-sub-title {
			height: 66px;
			line-height: 66px;
		}

		#sub-2016-09-zq .section .row.section-body > .content .section-sub-title h2 {
			font-size: 22px;
		}

		#sub-2016-09-zq .section .row.section-body > .content .section-sub-title h2 strong {
			font-size: 28px;
		}

		#sub-2016-09-zq .section .row.section-body > .content .section-sub-title h2 em {
			font-weight: 500;
		}

	#sub-2016-09-zq .section .article {
		font-size: 14px;
		line-height: 1.6;
		border: 1px solid transparent;
		position: relative;
		padding: 38px 64px;
		}
		#sub-2016-09-zq .section#zhongqiu-section-1 .article {
			padding: 25px 30px;
		}
		#sub-2016-09-zq .section .article hr {
			border-width: 1px 0 0 0;
			border-style: dashed;
			border-color: #5b6696;
			background-color: transparent;
			margin: 20px auto;
		}
		#sub-2016-09-zq .section .article h3 {
			font-size: 20px;
			font-weight: 500;
			margin: 20px 0;
		}
		#sub-2016-09-zq .section .article h3.first {
			margin-top: 0;
		}

		#sub-2016-09-zq .section .article .tip,
		#sub-2016-09-zq .section .article p {
			color: inherit;
			padding: 0 5px;
			margin: 0 -5px;
		}

		#sub-2016-09-zq .section .article  button.call-to-action,
		#sub-2016-09-zq .section .article .button.call-to-action {
			display: block;
			width: 311px;
			height: 55px;
			line-height: 55px;
			padding: 0;
			border-width: 0;
			margin: 20px auto 0;
			font-size: 25px;
			font-weight: 500;
			text-decoration: none;
			color: inherit;
		}
		#sub-2016-09-zq .section .article  button.call-to-action.has-bg-image,
		#sub-2016-09-zq .section .article .button.call-to-action.has-bg-image {
			overflow: hidden;
			border-radius: 14px;
			background-color: transparent!important;
			background-repeat: no-repeat;
			background-image: url(../../images/pages/subject-2016-09-zhongqiu/buttons.png);
		}
		#sub-2016-09-zq .section .article  button.call-to-action.has-bg-image:hover,
		#sub-2016-09-zq .section .article .button.call-to-action.has-bg-image:hover {
			background-position: 0 -55px;
		}
		#sub-2016-09-zq .section .article  button.call-to-action.has-bg-image:disabled,
		#sub-2016-09-zq .section .article .button.call-to-action.has-bg-image[disabled] {
			background-position: 100% 0;
		}
		#sub-2016-09-zq .section .article  button.call-to-action.has-bg-image:disabled:hover,
		#sub-2016-09-zq .section .article .button.call-to-action.has-bg-image[disabled]:hover {
			background-position: 100% -55px;
		}


	#sub-2016-09-zq .section .f-list.rules > li {
		display: block;
		padding: 0 5px;
		margin: 0 -5px;
		}
		#sub-2016-09-zq .section .f-list.rules > li > .label {
			display: inline-block;
			margin-right: 0.2em;
		}
		#sub-2016-09-zq .section .f-list.rules > li.label-hung {
			position: relative;
			padding-left: 5.8em;
		}
		#sub-2016-09-zq .section .f-list.rules > li.label-hung > .label {
			position: absolute;
			left: 5px;
			top: 0px;
		}



#sub-2016-09-zq #zhongqiu-section-1 .hero-content-blocks {
	margin-top: -15px;
	}
	#sub-2016-09-zq #zhongqiu-section-1 .hero-content-block {
		width: 233px;
		height: 201px;
		margin: auto;
	}
	#sub-2016-09-zq #zhongqiu-section-1 .hero-content-block .symbol {
	}
	#sub-2016-09-zq #zhongqiu-section-1 .hero-content-block .symbol .symbol-look.bg {
		background-size: 100% auto; 
		background-image: url(../../images/pages/subject-2016-09-zhongqiu/section-1-hero-blocks.png);
	}
	#sub-2016-09-zq .col-2 .hero-content-block .symbol .symbol-look.bg {
		z-index: 1;
		background-position: 0 100%;
	}
	#sub-2016-09-zq .symbol-look.hongbao-baby-shadow,
	#sub-2016-09-zq .symbol-look.hongbao-baby {
		top: auto;
		left: auto;
		width: 128px;
		height: 150px;
		background-size: 100% auto; 
		background-image: url(../../images/pages/subject-2016-09-zhongqiu/hongbao-baby.png);
		}
		#sub-2016-09-zq .symbol-look.hongbao-baby {
			z-index: 2;
		}
		#sub-2016-09-zq .symbol-look.hongbao-baby-shadow {
			z-index: 0;
			background-position: 0 100%;
		}
		#sub-2016-09-zq .col-2 .hero-content-block .symbol .symbol-look.hongbao-baby-shadow,
		#sub-2016-09-zq .col-2 .hero-content-block .symbol .symbol-look.hongbao-baby {
			right: -83px;
			bottom: -15px;
		}
