#sub-2016-09-zq {
	background-color: #040d1e;
}

#sub-2016-09-zq #splash-block {
	height: 666px;
	}

	#sub-2016-09-zq .splash-illustrate {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 100%;
	}
	#sub-2016-09-zq .splash-illustrate .illustrate {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto 100%;
		}
		#sub-2016-09-zq .splash-illustrate .illustrate.bg {
			background-image: url(../../images/pages/subject-2016-09-zhongqiu/splash-bg.jpg);
		}
		#sub-2016-09-zq .splash-illustrate .illustrate.slogan {
			background-image: url(../../images/pages/subject-2016-09-zhongqiu/splash-slogan.png);
		}
		#sub-2016-09-zq .splash-illustrate .illustrate.cover {
			background-image: url(../../images/pages/subject-2016-09-zhongqiu/splash-cover.png);
		}

	#sub-2016-09-zq #splash-block > .width-wrap {
		height: 100%;
	}

	#sub-2016-09-zq #splash-block .lanterns {
	}
	#sub-2016-09-zq #splash-block .lanterns .lantern {
		display: block;
		list-style: none;
		position: absolute;
		overflow: visible;
		width: 2px;
		height: 2px;
		background-color: red;
		}

		#sub-2016-09-zq #splash-block .lanterns .lantern-1 {
			left: 278px;
			top: 428px;
		}

		#sub-2016-09-zq #splash-block .lanterns .lantern-2 {
			left: 610px;
			top: 470px;
		}

		#sub-2016-09-zq #splash-block .lanterns .lantern-3 {
			left: 935px;
			top: 472px;
		}

		#sub-2016-09-zq #splash-block .lanterns .text {
			width: 1px;
			overflow: hidden;
			text-indent: 1000px;
			}

		#sub-2016-09-zq #splash-block .lanterns .symbol {
			display: block;
			width: 150px;
			height: 230px;
			position: absolute;
			left: -75px;
			top: -20px;
			}

			#sub-2016-09-zq #splash-block .lanterns .symbol .symbol-look {
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-repeat: no-repeat;
				background-image: url(../../images/pages/subject-2016-09-zhongqiu/lanterns.png);
			}

			#sub-2016-09-zq #splash-block .lanterns .symbol .symbol-look.drak {
				z-index: 1;
			}
			#sub-2016-09-zq #splash-block .lanterns .symbol .symbol-look.lit {
				z-index: 2;
				-webkit-animation: lit-lantern-flickering 1.8s infinite;
				        animation: lit-lantern-flickering 1.8s infinite;

			}

			@keyframes lit-lantern-flickering {
				 0% { opacity: 1; }
				50% { opacity: 0.75; }
				to  { opacity: 1; }
			}

			#sub-2016-09-zq #splash-block .lanterns .lantern .symbol .symbol-look.drak {
				display: block;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern .symbol .symbol-look.lit {
				display: none;
			}

			#sub-2016-09-zq #splash-block .lanterns .lantern.lit .symbol .symbol-look.drak {
				display: block;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern.lit .symbol .symbol-look.lit {
				display: block;
			}

			#sub-2016-09-zq #splash-block .lanterns .lantern-1 .symbol .symbol-look.drak {
				background-position:    0px   0px;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-1 .symbol .symbol-look.lit {
				background-position: -150px   0px;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-2 .symbol .symbol-look.drak {
				background-position:    0px   0px;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-2 .symbol .symbol-look.lit {
				background-position: -150px   0px;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-3 .symbol .symbol-look.drak {
				background-position:    0px   0px;
			}
			#sub-2016-09-zq #splash-block .lanterns .lantern-3 .symbol .symbol-look.lit {
				background-position: -150px   0px;
			}


	#sub-2016-09-zq #splash-block .floating-panel {
		display: block;
		box-sizing: border-box;
		width: 345px;
		height: 270px;
		position: absolute;
		right: 10px;
		top: 54px;
		background-color: rgba(255, 255, 255, 0.8);
        -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ccffffff, endColorStr=#ccffffff)";
            filter:  progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ccffffff, endColorStr=#ccffffff);
	}


#sub-2016-09-zq #zhongqiu-section-3,
#sub-2016-09-zq #zhongqiu-section-2,
#sub-2016-09-zq #zhongqiu-section-1 {
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	}
	#sub-2016-09-zq #zhongqiu-section-1 {
		height: 1025px;
		background-image: url(../../images/pages/subject-2016-09-zhongqiu/page-bg-01.jpg);
	}
	#sub-2016-09-zq #zhongqiu-section-2 {
		height: 865px;
		background-image: url(../../images/pages/subject-2016-09-zhongqiu/page-bg-02.jpg);
	}
	#sub-2016-09-zq #zhongqiu-section-3 {
		height: 797px;
		background-image: url(../../images/pages/subject-2016-09-zhongqiu/page-bg-03.jpg);
	}
