/* ----- layout definition begin --------------- */
	.drop-down-list.choose-bank .drop-down-list-option {
		min-height: 25px;
	}
	#page-sidebar-nav .menu-item > a > .label,
	#page-sidebar-nav .menu-item > .label {
		min-height: 21px;
	}

	.page-chief-part.cast-shadow {
		overflow: visible; /* for ie-shadow */
		}
		.page-chief-part.cast-shadow > .ie-shadow .ie-shadow-matte {
			-ms-filter: "\
				progid:DXImageTransform.Microsoft.Alpha(opacity=10)\
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=2)\
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=3)\
			";
			filter: 
				progid:DXImageTransform.Microsoft.Alpha(opacity=10)
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=2)
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=3)
			;
			left: -7px;
			top: -7px;
			right: 5px;
			bottom: 5px;
		}
/* ----- layout definition end ----------------- */







/* ----- theme definition begin ---------------- */
	#user-info-bar .user-info-block a {
		-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#31FFFFFF, endColorStr=#31FFFFFF)";
			filter:  progid:DXImageTransform.Microsoft.Gradient(startColorStr=#31FFFFFF, endColorStr=#31FFFFFF);	
	}
	#user-info-bar .user-info-block a:hover {
		-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#44FFFFFF, endColorStr=#44FFFFFF)";
			filter:  progid:DXImageTransform.Microsoft.Gradient(startColorStr=#44FFFFFF, endColorStr=#44FFFFFF);
	}
/* ----- theme definition end ------------------ */
