input.empty-field:focus,
input.empty-field:active,
html, body, button, textarea, input, select, option, .font-default {
	font-family: 'Microsoft Yahei UI', 'Microsoft Yahei', 'Helvetica', Arial, 'Lucida Grande', 'SimHei', Sans-Serif;
}


::-webkit-input-placeholder { /* WebKit browsers */
	font-family: 'SimSun', serif;
	font-size: 12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-family: 'SimSun', serif;
	font-size: 12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-family: 'SimSun', serif;
	font-size: 12px;
}

input.empty-field {
	/* this is for placeholder texts in IE/Edge, which inherit styls from the input real values texts. */
	font-family: 'SimSun', serif;
	font-size: 12px!important;
}

.ie8-input-fake-placeholder,
.bill-time-exceeded,
.pagination [role="button"],
.pagination button,
.dialog .dialog-body > .content .article p,
.breadcrumbs,
#app-header-info-and-links,
#app-footer-nav p,
#app-footer-services-info,
blockquote,
.font-song-ti {
	font-family: 'SimSun', serif;
	font-size: 12px;
}

.card .card-head,
.tabular-lists .toolbar,
.tabular > .header,
.tabular > .f-list > li {
	/* font-family: 'SimSun', serif; */
	font-size: 14px;
}

.form input,
.font-important {
	font-family: 'Arial', sans-serif;
	font-weight: bolder;
}
.font-important {
	font-size: 38px;
	line-height: 1.5; /* 57px */
}
